.DS_Store
.eggs
*.egg-info
*pycache*
data/
work/
tutorials/.ipynb_checkpoint*
results/
docs/*/*.bbl
docs/*/*.idx
docs/*/*.ind
docs/*/*.pdf
docs/*/.texpadtmp
experiment_pipeline/experiment_data*
experiment_pipeline/experiments/datasets
experiment_pipeline/experiments/results
experiment_pipeline/experiments/run_outputs
experiment_pipeline/experiments/tp_data
hyperparam_tuning/experiment_data*